<div class="task_edit__btn">
  <%= link_to '＜ 戻る', root_path, class: 'btn' %>
  <%= link_to '削除 ＞',"/tasks/#{@task.id}", data: {turbo_method: :delete}, class: 'btn' %>
</div>
<%= render 'form', task: @task %>