/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 header {
  position: fixed; /* ヘッダーを固定 */
  top: 24px; /* 上端に配置 */
  left: 0; /* 左端に配置 */
  width: 100%; /* 横幅を画面全体に広げる */
  background-color: transparent; /* 背景を透明に */
  display: flex;
  justify-content: center; /* コンテンツを中央揃え */
  align-items: center; /* 縦方向に中央揃え */
  text-align: center; /* テキストを中央揃え */
  z-index: 1000; /* ヘッダーを前面に表示 */
  height: 60px; /* ヘッダーの高さを設定 */
}
 .body__container{
  display: flex;
  flex-direction: column;
  background-color: #FFF5EE;
  /*padding: 1rem 0; */
  width: 100%;
  max-width: 800px; /* PCでも一定の大きさを保つ */
  margin: 0 auto;
  min-height: 100vh;
  color: #000080; /* デフォルトの文字色をネイビーに設定 */
  padding-top: 40px;
}
/* フォーム部分 */
textarea {
  resize: none; /* 拡大・縮小を禁止 */
}
textarea:focus {
  outline: none; /* 各フォーム要素の青い枠を無効化 */
  border-color: transparent; /* 必要に応じて枠線も透明に */
}
/* フォーカスされた入力フィールドのカーソル色を変更 */
input:focus, textarea:focus {
  caret-color: #FF4500; /* カーソルの色をオレンジに変更 */
}